* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    margin: 1.2rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#sub {
    color: grey;
    text-decoration: underline;
}

#title {
    color: rgb(70, 69, 69);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
}

.container {
    display: grid;
    margin-top: 1rem;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 0.5fr;
    gap: 1rem;
}

.content1 {
    padding: 1rem;
}

#by1, #by2 {
    display: inline;
    font-size: 0.9rem;
}

#by1 {
    color: grey;
}

#by2 {
    color: rgb(40, 165, 232);
}

.para {
    border: 2px solid rgb(211, 211, 211);
}

.para2 {
    color: rgb(42, 41, 41);
}

#button1 {
    margin-top: 3rem;
    background: white;
    color: rgb(62, 172, 231);
    border: 1px solid;
    padding: 0.4rem;
    border-radius: 1rem;
}

#button2 {
    margin-top: 3rem;
    background: white;
    color:  rgb(121, 121, 121);
    border: 1px solid;
    padding: 0.4rem;
    border-radius: 1rem;
}

.links {
    display: block;
    color: rgb(62, 172, 231);
}

.about {
    background-color: rgb(245, 244, 244);
    border-radius: 0.2rem;
}

.about h2 {
    font-style: italic;
    padding-top: 1rem;
    padding-left: 1rem;
}

.about p {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.archieves {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.archieves h2 {
    font-style: italic;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.archieves a {
    padding-top: 0.2rem;
    padding-left: 1rem;
}

.elsewhere h2 {
    padding-left: 1rem;
    font-style: italic;
    padding-bottom: 0.5rem;
}

.elsewhere a {
    padding-top: 0.2rem;
    padding-left: 1rem;
}